
@{
    ViewBag.Title = "Người Dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="tcnvcd ctn-sn ctn-sn-1">
    <div class="tcnvcd nav nav-tabs" id="nav-tab" role="tablist">
        <a class="tcnvcd nav-link" id="nav-khdm-tab" data-bs-target="#khdm" role="tab" href="/course">
            KHÓA HỌC ĐÃ MUA
        </a>
        <a class="tcnvcd nav-link active" id="nav-hscn-tab" data-bs-target="#hscn" role="tab" href="/user">
            HỒ SƠ CÁ NHÂN
        </a>
    </div>

    <div class="khoahoc ctn-sn ctn-sn-1">
        <div id="sidebar" class="khoahoc sidebar">
            <div class="khoahoc bar bar-2">
                <div class="khoahoc bar-head">
                    <h2 class="khoahoc bar-head__title">KHÓA HỌC ĐỀ XUẤT NÊN MUA</h2>
                </div>
                <div class="khoahoc bar-content">
                    <ul>
                        <li>
                            <div>
                                <a href="#">
                                    <div>Kế toán tiền lương, bảo hiểm, quyết toán thuế TNCN</div>
                                    <div>Xem chi tiết</div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="img-div">
                                    <img src="/images/kh.jpg"
                                         alt="" />
                                </div>

                                <a href="#">
                                    <div>Kế toán tổng hợp nhà hàng, kinh doanh thực phẩm</div>
                                    <div>Xem chi tiết</div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="img-div">
                                    <img src="/images/kh.jpg"
                                         alt="" />
                                </div>

                                <a href="#">
                                    <div>Tài chính, kế toán, giải pháp tối ưu thuế cho giám đốc và nhà quản lý</div>
                                    <div>Xem chi tiết</div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="img-div">
                                    <img src="/images/kh.jpg"
                                         alt="" />
                                </div>

                                <a href="#">
                                    <div>Kế toán thuế chuyên sâu, quyết toán thuế, thanh tra thuế - Level 3</div>
                                    <div>Xem chi tiết</div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="khoahoc bar bar-3"></div>
        </div>

        <section class="khoahoc sn sn-1">
            <h2>Khóa Học Đã Mua</h2>
            <div class="khoahoc lst-crse">
                <div class="khoahoc owl-item active">
                    <div class="khoahoc item">
                        <div class="khoahoc fcrse_1">
                            <a href="#"
                               class="khoahoc fcrse_img">
                                <img src="/images/kh2.jpg"
                                     alt="" />
                                <div class="khoahoc prce142">
                                    <div style="font-weight: bold; color: #023160">
                                        250,000 VNĐ
                                    </div>
                                    <div style="font-size: 0.9rem; font-weight: 300; color: #ccc">
                                        -350,000 VNĐ
                                    </div>
                                </div>
                                <div class="khoahoc makh">#KH: #DAVID-12</div>
                            </a>

                            <div class="khoahoc fcrse_content">
                                <h3 class="khoahoc bl-title">
                                    <a href="#">
                                        Khóa
                                        học
                                        tài chính marketing
                                    </a>
                                </h3>

                                <div class="khoahoc vdtodt">
                                    <ul>
                                        <li><i class="khoahoc uil uil-eye"></i>0 học viên</li>
                                        <li>
                                            <i class="khoahoc uil uil-stopwatch"></i> 0
                                            <span data-language-post data-language-post-eng="lessons"
                                                  data-language-post-vie="bài">bài</span>
                                        </li>
                                        <li>
                                            <i style="color: orange" class="khoahoc uil uil-star"></i>0 Reviews
                                        </li>
                                    </ul>
                                </div>

                                <div class="khoahoc auth1lnkprce">
                                    <div class="khoahoc education_block_author">
                                        <h5><a href="" tabindex="-1">FC David</a></h5>
                                    </div>
                                    <a href="#">
                                        <div class="khoahoc shrt-cart-btn">
                                            <i class="khoahoc"></i>
                                            <span data-language="81">Xem chi tiết</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="khoahoc owl-item active">
                    <div class="khoahoc item">
                        <div class="khoahoc fcrse_1">
                            <a href="#"
                               class="khoahoc fcrse_img">
                                <img src="/images/kh1.jpg"
                                     alt="" />
                                <div class="khoahoc prce142">
                                    <div style="font-weight: bold; color: #023160">
                                        250,000 VNĐ
                                    </div>
                                    <div style="font-size: 0.9rem; font-weight: 300; color: #ccc">
                                        -350,000 VNĐ
                                    </div>
                                </div>
                                <div class="khoahoc makh">#KH: #DAVID-12</div>
                            </a>

                            <div class="khoahoc fcrse_content">
                                <h3 class="khoahoc bl-title">
                                    <a href="#">
                                        Khóa
                                        học
                                        tài chính marketing
                                    </a>
                                </h3>

                                <div class="khoahoc vdtodt">
                                    <ul>
                                        <li><i class="khoahoc uil uil-eye"></i>0 học viên</li>
                                        <li>
                                            <i class="khoahoc uil uil-stopwatch"></i> 0
                                            <span data-language-post data-language-post-eng="lessons"
                                                  data-language-post-vie="bài">bài</span>
                                        </li>
                                        <li>
                                            <i style="color: orange" class="khoahoc uil uil-star"></i>0 Reviews
                                        </li>
                                    </ul>
                                </div>

                                <div class="khoahoc auth1lnkprce">
                                    <div class="khoahoc education_block_author">
                                        <h5><a href="" tabindex="-1">FC David</a></h5>
                                    </div>
                                    <a href="#">
                                        <div class="khoahoc shrt-cart-btn">
                                            <i class="khoahoc"></i>
                                            <span data-language="81">Xem chi tiết</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="khoahoc owl-item active">
                    <div class="khoahoc item">
                        <div class="khoahoc fcrse_1">
                            <a href="#"
                               class="khoahoc fcrse_img">
                                <img src="/images/kh.jpg"
                                     alt="" />
                                <div class="khoahoc prce142">
                                    <div style="font-weight: bold; color: #023160">
                                        1,990,000 VNĐ
                                    </div>
                                </div>
                                <div class="khoahoc makh">#KH: AC-108</div>
                            </a>

                            <div class="khoahoc fcrse_content">
                                <h3 class="khoahoc bl-title">
                                    <a href="#">
                                        Kế
                                        toán tổng hợp nhà hàng, kinh doanh thực phẩm
                                    </a>
                                </h3>

                                <div class="khoahoc vdtodt">
                                    <ul>
                                        <li><i class="khoahoc uil uil-eye"></i>2 học viên</li>
                                        <li>
                                            <i class="khoahoc uil uil-stopwatch"></i> 3
                                            <span data-language-post data-language-post-eng="lessons"
                                                  data-language-post-vie="bài">bài</span>
                                        </li>
                                        <li>
                                            <i style="color: orange" class="khoahoc uil uil-star"></i>0 Reviews
                                        </li>
                                    </ul>
                                </div>

                                <div class="khoahoc auth1lnkprce">
                                    <div class="khoahoc education_block_author">
                                        <h5><a href="" tabindex="-1">FC David</a></h5>
                                    </div>
                                    <a href="#">
                                        <div class="khoahoc shrt-cart-btn">
                                            <i class="khoahoc"></i>
                                            <span data-language="81">Xem chi tiết</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="khoahoc owl-item active">
                    <div class="khoahoc item">
                        <div class="khoahoc fcrse_1">
                            <a href="#"
                               class="khoahoc fcrse_img">
                                <img src="/images/kh.jpg"
                                     alt="" />
                                <div class="khoahoc prce142">
                                    <div style="font-weight: bold; color: #023160">
                                        2,690,000 VNĐ
                                    </div>
                                </div>
                                <div class="khoahoc makh">#KH: AC-107</div>
                            </a>

                            <div class="khoahoc fcrse_content">
                                <h3 class="khoahoc bl-title">
                                    <a href="#">
                                        Thực
                                        hành kế toán tổng hợp thương mại, dịch vụ
                                    </a>
                                </h3>

                                <div class="khoahoc vdtodt">
                                    <ul>
                                        <li><i class="khoahoc uil uil-eye"></i>1 học viên</li>
                                        <li>
                                            <i class="khoahoc uil uil-stopwatch"></i> 0
                                            <span data-language-post data-language-post-eng="lessons"
                                                  data-language-post-vie="bài">bài</span>
                                        </li>
                                        <li>
                                            <i style="color: orange" class="khoahoc uil uil-star"></i>0 Reviews
                                        </li>
                                    </ul>
                                </div>

                                <div class="khoahoc auth1lnkprce">
                                    <div class="khoahoc education_block_author">
                                        <h5><a href="" tabindex="-1">FC David</a></h5>
                                    </div>
                                    <a href="#">
                                        <div class="khoahoc shrt-cart-btn">
                                            <i class="khoahoc"></i>
                                            <span data-language="81">Xem chi tiết</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div style="clear: both"></div>
    </div>
</section>


