/* change */
.form-ctn form > h1 {
    text-transform: uppercase;
}
.ctkh.cmt-meta .ctkh.reply-btn {
    padding-top: 8px; /* add padding-top */
}

.ctkh.reply-bl > ul > li:last-child {
    border-left: 1px solid #e5e5e5; /* delete border-left */
}

.ctkh.reply-bl li .ctkh.rpl-bd {
    margin-left: 31px; /* add margin-left */
    width: 100%; /* add width */
}

.hoconline.rules {
    display: unset; /* delete display */
}

.hoconline.lst-eps > li {
    background-color: unset; /* delete background-color */
}

.hoconline.dc-reply-bl {
    margin-left: 35px; /* change margin-left: 35px */
}

.hd-below-menu {
    width: 100%; /* change width: 100% */
    padding: 0 calc((100% - 1080px)/2); /* add padding */
}

@media only screen and (max-width: 1024px) {
    .hd-below-menu {
        padding: 0 5px; /* dont change in style.css */
    }
}

.homepage.section--7th .homepage.video-container {
    padding-top: 0px; /* add padding-top */
}

footer {
    margin-top: 0; /* delete margin-top */
}

.homepage.list-style-type-cus {
    width: auto; /* delete width */
    margin-right: 10px; /* add margin-right */
}

/* .hoconline.mode-auto { */
   /* flex: unset; /* delete flex */
   /* line-height: 34px; /* add line-height */
   /* background-color: #3b5b8c; /* add background-color */
   /* padding: 0 16px; /* add padding and delete padding-right */
  /*  text-align: left; /* delete text-align */
/* } */

/* .hoconline.mode-auto span { */
   /* color: white; /* change color: white */
/* } */

.dstt.sn-1--left .dstt.search {
    margin-top: 28px; /* add margin-top */
}

.dstt.sn-1--left .dstt.search > div {
    border-radius: 50px; /* change border-radius: 50px*/
}

.dstt.sn-1--left .dstt.search i {
    color: rgba(0, 41, 107, 0.54); /*change color: rgba(0, 41, 107, 0.54) */
    margin: 0 13px 0 19px; /*add margin*/
}

.dstt.sn-1--left .dstt.search .dstt.search__input {
    width: 100%; /* add width */
    color: rgba(42, 63, 98, 0.65); /* add color */
    font-size: 24px; /* add font-size */
}

.dstt.sn-1--right {
    padding: 0 !important;
    margin: 1em 1% 0;
    box-sizing: border-box;
    border-radius: 10px;
}

.dstt.sn-1--right h2 {
    background: #3b5b8c;
    border-radius: 10px 10px 0px 0px;
    margin: 0; /* delete margin */
    text-align: center;
    color: #fff;
    padding: 15px 0;
}

.dstt.sn-1--right .dstt.item {
    justify-content: start;
    padding: 10px 20px;
}

.dstt.sn-1--right .dstt.item > div:nth-child(1) {
    width: 84.59px;
    height: 81.7px;
    margin-right: 20px;
    padding: 0;
}

.dstt.sn-1--right img {
    padding: 0;
}

.dstt.sn-1--right .dstt.item > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.ctkh.bar-content img {
    width: 35%;
    max-height: 110px;
}

.ctkh.bar-2 .ctkh.bar-content li, .ctkh.bar-3 .ctkh.bar-content li {
    padding: 4px 5px;
}

.dstt.ctn-sn-2 .dstt.sn-1--left > div > div {
    flex-wrap: wrap;
}

.dstt.ctn-sn-2 .dstt.sn-1--left > div > div .dstt.figure-caption h2,
.tttdm.ctn-sn-1 .tttdm.sn-1--left > div > div .tttdm.figure-caption h2 {
    font-size: 1rem;
    font-weight: 650;
    max-height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    margin-top: 8px;
}

.dstt.ctn-sn-2 .dstt.sn {
    max-height: revert;
}

.dstt.ctn-sn-2 .dstt.sn-1--left > div > h2 {
    text-transform: uppercase;
}

body {
    background-color: #fff;
}

.dstt.figure-caption > h2 {
    font-size: 1.2rem;
}

.dstt.ctn-sn-2 .dstt.sn-1--left > div > div .dstt.figure-caption div {
    font-size: 0.8rem;
    padding-top: 5px;
    color: rgba(0, 0, 0, 0.87);
}


@media only screen and (max-width: 600px) {
    nav ul.mb.ul > li > a {
        text-transform: uppercase;
    }

}

.hd-menu .hd-menu__li a {
    padding: 11px 10px;
}

.dstt.bl-title {
    min-height: 79px;
}

.dstt.vdtodt ul {
    padding: 0 15px 10px;
}

.dstt.vdtodt ul li {
    text-align: start;
}

.dstt.education_block_author h5 {
    color: #3b5b8c;
    background-color: #aaccff30;
    padding: 8px 28px;
    border-radius: 50px;
}

.dstt.shrt-cart-btn {
    padding: 8px 28px;
}

.homepage.section .slick-slide {
    margin: 8px 4px;
}

.homepage.section .slider-content7 .slick-slide {
    margin-bottom: 32px;
}

.homepage.section .slider-content7 {
    padding-bottom: 0 !important;
}

.ttct.figure-caption > h2 {
    margin-top: 8px;
}

.homepage.bl-title {
    padding: 0 20px 0px;
    margin: 0;
    min-height: unset;
}

/* add */
.hidden {
    display: none;
}

#comments_content, #discuss_content {
    position: relative;
}

.ctkh.cmt-meta .ctkh.reply-btn * {
    cursor: pointer;
}

.ctkh.form.comment-bl, 
.ctkh.discuss-f {
    margin: 0 25px;
    padding: 10px 0;
}

.ctkh.reply-bl .ctkh.form.comment-bl,
.ctkh.reply-bl .ctkh.discuss-f {
   margin: 0 0 0 30px; 
}

.ctkh.form.comment-bl .comment_value,
.ctkh.discuss-f .discuss_text {
    width: 100%;
    resize: none;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
}

.ctkh.form.comment-bl .comment_submit,
.ctkh.discuss-f .discuss_confirm {
    margin: 10px 0 0 auto;
    display: flex;
    background-color: #003e87;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    padding: 15px 20px;
    border-radius: 6px;
}

.ctkh.discuss .ctkh.cmt-meta {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 45px;
}

.ctkh.discuss .ctkh.cmt-meta .ctkh.username {
    width: 100%;
}

.ctkh.discuss-bd .ctkh.cmt-cont {
    font-style: italic;
    margin-left: 8px;
}

.ctkh.discuss-bd .ctkh.cmt-cont > div {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 8px;
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-radius: 0 0 10px 10px;
}

.ctkh.discuss .ctkh.reply-bl {
    margin-left: 9px;
}

.ctkh.discuss .ctkh.reply-bl > ul > li {
    border-left: unset;
}

.hoconline.epss > li.active {
    background-color: #bbc9d4;
}

.hoconline.chap h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 5px;
    margin-left: 6px;
}

.hoconline.lst-eps > li.active {
    background-color: #ccc;
}

.hoconline.dc-meta .hoconline.dc-reply-btn * {
    cursor: pointer;
}

.hoconline.dc-f {
    padding: 8px;
}

.hoconline.dc-reply-bl .ctkh.dc-f {
    margin: 0 0 0 30px;
}

.hoconline.dc-f .dc_text {
    width: 100%;
    resize: none;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
}

.hoconline.dc-f .dc_confirm {
    margin: 10px 0 0 auto;
    display: flex;
    background-color: #003e87;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

@media only screen and (min-width: 1024px) {
    .slick-dots {
        display: none !important;
    }
}

@media only screen and (max-width: 1024px) {
    section.homepage {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }
}

.dkkh.form-ctn .form-ctn-coupon .form-ctn-group {
    display: flex;
}

.dkkh.form-ctn .form-ctn-coupon .form-ctn-group input {
    width: 80%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.dkkh.form-ctn .form-ctn-coupon .form-ctn-group button {
    width: 20%;
    margin: 8px 0;
    border: 0;
    border-left: solid 1px #ccc;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #fdc500;
    color: #fff;
}

.homepage.list .homepage.list__p {
    text-align: justify;
}

.dstt.sn-1--left .dstt.search .dstt.search__input::placeholder {
    color: rgba(42, 63, 98, 0.65);
}

.ctkh.bar-2 .ctkh.bar-content li:first-child, .ctkh.bar-3 .ctkh.bar-content li:first-child {
    padding-top: 8px;
}

.ctkh.bar-2 .ctkh.bar-content li:last-child, .ctkh.bar-3 .ctkh.bar-content li:last-child {
    padding-bottom: 0;
}

.dstt.ctn-sn-2 .dstt.sn-1--left > div > div > a {
    width: calc(100% / 3);
    padding: 0 4px;
}

@media only screen and (min-width: 601px) {
    .dstt.img-fluid {
        height: 120px;
    }
}

@media only screen and (max-width: 600px) {
    /* .dstt.img-fluid {

    } */
}